.deleteBtn{
    vertical-align: middle;
    height: 30px;
    width: 200px;
    background-color: #ff0c00;
    font-size: 0.6em;
    font-weight: bold;
}

.editBtn {
    vertical-align: middle;
    height: 30px;
    width: 200px;
    background-color: #49ff09;
    font-size: 0.6em;
    font-weight: bold;
}

.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li button {
    color: black;
    float: left;
    padding: 8px;
    width: 60px;
    height: 30px;
    text-decoration: none;
    font-size: 2em;
    transition: background-color .3s;
    background-color: inherit;
    border: 1px solid black;
    line-height: 1px;
}

ul.pagination li button.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li button:hover:not(.active) {background-color: #BBB;}